.profile-wrapper{
  background: url("./profile-boder.jpg") no-repeat;
  background-size: cover;
  height: 100vh;

}
.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width: 100%;
  justify-content: center;
}

.profile-text p{
  font-size: 1.5em;
}

.profile-text h3{
  font-size: 3em;
}
