.about-wrapper {
    height: 80%;
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    text-align: left;
    font-size: 1.7em;
    color: #580a0a;
}

.about-bg{
  width: 100%;
  height: auto;
}

.info{
font-size: 1em
}

.about-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: auto;
}

.about-icons img{
  width: auto;
  height: 70px;
}
