.selector-wrapp{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  width: 100%;
  justify-content: center;
  font-size: 1.5em;
  background: url("./selector-page.png") no-repeat;
  background-size: cover;
  height: 100vh;
}
.level{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropbtn{
  cursor: pointer;
}
